body {
  background: #f7ddbb;
  font-family: "Times New Roman", times,serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.envelope {
  position: relative;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}


.flap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #cc7f19;
  transform-origin: top;
  transform: rotateX(0deg);
  transition: transform 1s ease-in-out;
  z-index: 2;
  border-radius: 5px;
}

.card {
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #d2691e;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  overflow-y: auto;
}
img{
    height:100px;
    width: 100px;
    border:2px solid #ddd;
    boarder-radius:20px;
    position:static;
    padding:5px;
}
.card h1 {
  margin-top: 0;
  color:  black;
  text-shadow:0px 0px 20px  black;

}

#open {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#open:hover {
  background-color:gray;
}
